<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Conversion" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/conversion">
    <ion-nav-view name="tab-conversion"></ion-nav-view>
  </ion-tab>

  <ion-tab title="History" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
