<ion-view view-title="Currency Conversion">
  <ion-content class="padding-top">

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          From
        </div>
        <select>
          <option>Opt1</option>
          <option>Opt2</option>
          <option>Opt3</option>
        </select>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Value">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          To
        </div>
        <select>
          <option>Opt1</option>
          <option>Opt2</option>
          <option>Opt3</option>
        </select>
      </label>

      <button class="button button-full button-positive">Convert</button>
    </div>

  </ion-content>
</ion-view>
