<ion-view view-title="Currency Conversion">
  <ion-content class="padding-top">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">

    </ion-refresher>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          From
        </div>
        <select ng-model="conversion.from">
          <option
            ng-repeat="(key,value) in currencies"
            ng-selected="key == 'USD'"
            value="{{key}}"
          >
            {{key}}
          </option>
        </select>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Value" ng-model="conversion.amount">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          To
        </div>
        <select ng-model="conversion.to">
          <option
            ng-repeat="(key,value) in currencies"
            value="{{key}}"
          >
            {{key}}
          </option>
        </select>
      </label>

      <button class="button button-full button-positive" ng-click="convert(conversion)">
        Convert
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="conversionDisplay in conversionList">
        <div class="row">
          <div class="col col-25">{{conversionDisplay.from}}</div>
          <div class="col col-25">{{conversionDisplay.amount}}</div>
          <div class="col col-25">{{conversionDisplay.to}}</div>
          <div class="col col-25">{{conversionDisplay.amountConverted}}</div>
        </div>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
